---
import { Image } from 'astro:assets';
import HyvaWhiteImage from '../../images/hyva-white.svg';
import ArrowRightIcon from '../../components/Icons/ArrowRight.astro';

const { layout } = Astro.props;
---

<a 
    href="/talks/talking-hyva"
    title="Talking Hyvä"
    class="w-full h-96 bg-gradient-to-br from-white to-[#14ffaf] rounded-3xl flex items-end relative"
    style="view-transition-name: talking-hyva"
>
    <div class="p-8 relative z-10">
        <div class="text-slate-900" style="view-transition-name: talking-hyva-text">
            { layout === 'header' && 
                <h1 class="font-semibold text-4xl mb-4">Talking Hyvä</h1>
                <p class="mb-4 text-2xl font-extralight">Experiences with Hyvä Themes so far</p>
            }
            
            {layout === "tile" &&
                <h3 class="font-semibold text-3xl mb-4">Talking Hyvä</h3>
                <p class="mb-4 text-xl font-extralight">Experiences with Hyvä Themes so far</p>
                <button type="button" class="primary-link">
                    Listen to the podcast <ArrowRightIcon className="w-5 h-5"/>
                </button>
            }
        </div>
    </div>
    <Image src={HyvaWhiteImage} 
           alt="Talking Hyvä"
           class="opacity-30 absolute -right-8 -bottom-8 h-96 pointer-events-none select-none"
           loading="lazy"
           style="view-transition-name: talking-hyva-image"
    />
</a>