---
import { Image } from 'astro:assets';
import WarpImage from '../../images/warp.svg';
import TailwindImage from '../../images/tailwind.svg';

---

<a 
    href="/projects/warp-theme"
    title="Warp Theme"
    class="w-full h-96 bg-gradient-to-tr from-slate-800 to-slate-600 rounded-3xl grid grid-cols-1 grid-rows-1"
    style="view-transition-name: hero"
>
    <div class="col-start-1 row-start-1 grid place-content-center">
        <div class="flex gap-4">
            <Image src={WarpImage} 
                alt="Warp"
            />
            <Image src={TailwindImage} 
                alt="Tailwind"
            />
        </div>
    </div>
    <div class="col-start-1 row-start-1 grid justify-items-start items-end p-8">
        <div class="text-white font-semibold text-2xl">Warp Theme</div>
    </div>
</a>