---
import Page from '../../layouts/Page.astro';
import '../../styles/theme.css'

//import { Image } from 'astro:assets';
//import FetchImage from '../../images/fetch.svg';

import HyvaMeetup2 from '../../components/Talks/HyvaMeetup2.astro'
import YoutubeVideo from '../../components/YoutubeVideo.astro';
---

<Page title="Hyvä Meetup #2 - Talks - Edwin Bos">
    <div class="mb-4">
        <a href="/" title="Home" class="opacity-60 hover:underline hover:opacity-90">Home</a>
        <span class="opacity-20"> / </span>
        <a href="/talks" title="Talks" class="opacity-60 hover:underline hover:opacity-90">Talks</a>
        <span class="opacity-20"> / </span>
        <span class="opacity-90">Hyvä Meetup #2</span> 
    </div>
    <HyvaMeetup2 layout="header"/>
    <div class="max-w-3xl leading-loose mt-8 px-8 leading-loose font-light text-lg">
        <p class="mb-4">
            During the second Hyvä Meetup, Danny and I had the chance to showcase a project we worked on: 
            the Isenvi website, built using Hyvä in Magento 2. Isenvi is a store that specializes in selling 
            cookware, and this project gave us a great opportunity to explore what’s possible with Hyvä’s frontend framework.
        </p>
        <h2 class="pt-4 mb-2 text-2xl">A Look Behind the Scenes</h2>
        <p class="mb-4">
            In the video, we walk through the main features of the site, discuss some of the technical 
            challenges we faced, and explain how we used Hyvä to improve performance and deliver a clean, 
            user-friendly experience.
        </p>
        <p class="mb-4">
            It’s a practical look at how Hyvä can be used in real-world projects like this. 
            If you’re interested in Magento 2 development or just curious about the process behind building a 
            site like Isenvi, check it out.
        </p>
    </div>
    <div class="container">
        <YoutubeVideo embed="Or5zmudmuks?si=zOAcWawe5V0EZT7N&amp;start=2043"></YoutubeVideo>
    </div>
</Layout>
