---
import Page from '../../layouts/Page.astro';
import '../../styles/theme.css'

//import { Image } from 'astro:assets';
//import FetchImage from '../../images/fetch.svg';

import HyvaMeetup2 from '../../components/Talks/HyvaMeetup2.astro'
---

<Page title="Hyvä Meetup #2 - Talks - Edwin Bos">
    <div class="mb-4">
        <a href="/" title="Home" class="opacity-60 hover:underline hover:opacity-90">Home</a>
        <span class="opacity-20"> / </span>
        <a href="/talks" title="Talks" class="opacity-60 hover:underline hover:opacity-90">Talks</a>
        <span class="opacity-20"> / </span>
        <span class="opacity-90">Hyvä Meetup #2</span> 
    </div>
    <HyvaMeetup2 layout="header"/>
    <div class="max-w-3xl leading-loose mt-16 px-8">
        <p>
            Join Danny Verkade and Edwin Bos from Cream for a journey of the development 
            of their 2nd based Hyvä project for Isenvi - healthy cookware, with best 
            development practices and learnings.
        </p>
    </div>
    <div class="mt-16">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube-nocookie.com/embed/Or5zmudmuks?si=zOAcWawe5V0EZT7N&amp;start=2043" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen
        ></iframe>
    </div>
</Layout>
