---
import Page from '../../layouts/Page.astro'
import '../../styles/theme.css'

import TalkingHyva from '../../components/Talks/TalkingHyva.astro'
import YoutubeVideo from '../../components/YoutubeVideo.astro';
---

<Page title="Talking Hyvä - Talks - Edwin Bos">
    <div class="mb-4">
        <a href="/" title="Home" class="opacity-60 hover:underline hover:opacity-90">Home</a>
        <span class="opacity-20"> / </span>
        <a href="/talks" title="Talks" class="opacity-60 hover:underline hover:opacity-90">Talks</a>
        <span class="opacity-20"> / </span>
        <span class="opacity-90">Talking Hyvä</span> 
    </div>
    <TalkingHyva layout="header"/>
    <div class="max-w-3xl leading-loose mt-8 px-8 leading-loose font-light text-lg">
        <p>In this episode we're talking with Edwin and Danny from Magento agency Cream.</p>
        <p>Edwin Bos is their Lead Frontend, and Danny Verkade CEO and Solution Specialist, also known as one of the Magento Masters of 2018.</p>
        <p>We talk about their experiences with Hyvä Themes so far and innovation driven by our platform.</p>
    </div>
    <YoutubeVideo embed="Vl04jd5EJvo?si=TKPEs3Oykjtdxcjg"></YoutubeVideo>
</Layout>
