.hidden-scrollbar::-webkit-scrollbar,
.hidden-scrollbar::-webkit-scrollbar-track,
.hidden-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}

.background-grid {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px)), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px));
    background-size: 100px 100px;
    background-position: -1px -1px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1;
}

.primary-link {
    display: inline-flex;
    font-weight: 300;
    gap: 0.5rem;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.primary-link:hover {
    text-decoration: none;
}

@view-transition {
  navigation: auto;
}

/* Old stuff going out */
::view-transition-old(hero) {
    animation: fade 1s linear forwards;
  }
  
  /* New stuff coming in */
  ::view-transition-new(hero) {
    animation: fade 1s linear reverse;
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
