.hidden-scrollbar::-webkit-scrollbar,
.hidden-scrollbar::-webkit-scrollbar-track,
.hidden-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}

.background-grid {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px)), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px));
    background-size: 100px 100px;
    background-position: -1px -1px;
}

h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1;
}

.primary-link {
    display: flex;
    font-weight: 300;
    gap: 0.5rem;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.primary-link:hover {
    text-decoration: none;
}