.hidden-scrollbar::-webkit-scrollbar,
.hidden-scrollbar::-webkit-scrollbar-track,
.hidden-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}

.background-grid {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px)), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), rgba(255, 255, 255, 0.1) calc(100% - 0.5px));
    background-size: 100px 100px;
    background-position: -1px -1px;
}