---
import Fetch from './Projects/Fetch.astro'
import Warp from './Projects/Warp.astro'
import Laziness from './Projects/Laziness.astro'
import ArrowRightIcon from '../components/Icons/ArrowRight.astro';
---
<section class="container mx-auto mb-12">
    <h2 class="text-white mb-4">Projects</h2>
    <ul class="grid gap-4 mb-4 md:grid-cols-3">
        <li><Fetch/></li>
        <li><Warp/></li>
        <li><Laziness/></li>
    </ul>
    <a href="/projects" title="Check out all projects" target="_blank" class="primary-link text-white">
        Check out all project <ArrowRightIcon className="w-5 h-5"/>
    </a>
</section>                